<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
            by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <logger name="org.openbel" level="DEBUG" /> -->
    <!-- <logger name="org.hibernate" level="TRACE" /> -->
    <logger name="org.openbel.framework.ws.utils.KAMLoader" level="INFO"/>
    <logger name="org.springframework.ws.server.MessageTracing.received" level="TRACE"/>
    <logger name="org.springframework.ws.server.MessageTracing.sent" level="TRACE"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
